@charset "UFT-8";

body {
    font-family: 'Roboto', sans-serif;
}

a {
    text-decoration: none;
    color: #766F68;
    transition: 0.3s;
}

a:hover{
    opacity: 0.7;
}

.logo {
    display: flex;
    font-size: 24px;
    color: #D2872C;
    font-weight: bold;
}

nav {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-family: 'Roboto', sans-serif;
    height: 10vh;
    background-color: white;
}
main {
    background: url("../../Imagens/team.jpg") no-repeat center center;
    background-size: cover;
    height: 80vh;
}

.menu{
    list-style: none;
    display: flex;
}

.menu li{
    
    word-spacing: 10px;
    margin-left: 10px;
}