@charset "UFT-8";

*{
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: white;
}

a {
    text-decoration: none;
    color: #766F68;
    transition: 0.3s;
}

a:hover{
    opacity: 0.7;
}

header{
    width: 100%;
    
}

.logo {
    display: flex;
    font-size: 24px;
    color: #D2872C;
    font-weight: bold;

   
}

nav {
    margin-right: 50px;
    margin-left: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: 'Roboto', sans-serif;
    height: 10vh;
    background-color: white;
}

.menu{
    list-style: none;
    display: flex;
}

.menu li{
    
    margin-left: 10px;
}

.texto{
    width: 400px;
    color: #766F68;
    text-align:left;
    overflow-wrap: break-word;
}

#titulo1{
    font-size: 60px;
}

.time{
    max-width:650px;
    display: flex;
    justify-content: flex-end;
}

main{
    display: flex;
}

.lside{
margin-left: 90px;
display: flex;
flex-direction: column;
}

button{
    margin-top: 20px;
    margin-left: 100px;
    width: 200px;
    height: 50px;
    background-color: #D2872C;
    font-family: 'Roboto', sans-serif;
    color: white;
    border-radius: 10px;
    font-weight: bold;
    font-size: 20px;
    border-style: none;

}